version: "3.9"

services:
  postgres:
    image: docker.io/library/postgres:16-alpine
    container_name: employee-postgres
    environment:
      POSTGRES_DB: employeedb
      POSTGRES_USER: employee
      POSTGRES_PASSWORD: employee123
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  rabbitmq:
    image: docker.io/library/rabbitmq:3-management-alpine
    container_name: employee-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5673:5672"
      - "15673:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    image: docker.io/library/redis:7-alpine
    container_name: employee-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  pg_data:
  rabbitmq_data:
  redis_data:
